* {
	margin: 0; 
	padding: 0;	
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 960px) {
	/* For a screen < 960px, this CSS will be read */
	.container {
	  width: 700px;
	}
  }
  @media (max-width: 720px) {
	/* For a screen < 720px, this CSS will be read */
	.container {
	  width: 500px;
	}
  }
  @media (max-width: 540px) {
	/* For a screen < 540px, this CSS will be read */
	.container {
	  width: 300px;
	}
  }

.entry-container {
	height: 90vh; 
	width: 100%;
	position: relative;
	display: flex; 
	margin-left: auto;
	margin-right: auto;  
	text-align: center;
}

.profile-pic{
	border-radius: 50%; 
	width: 35%;
	height: auto; 
	overflow: hidden;
}

.inner-container {
	width: 40%; 
	height: 60%; 
	margin: auto; 
}

.inner-container h1{
	font-size: 20px; 
	text-align: center; 
}

.inner-container {
	font-family: sans-serif;
	color: white; 
	text-align: center; 
}

.inner-container p{
	margin-top: 10px;
}

.button-holder {
	padding-top: 20px; 
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
	width: 200px; 
	border-radius: 10px;
  }

  .fa {
	margin: 20px; 
	padding: 10px;
	font-size: 30px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	color: white; 
	background-color: #4CAF50;
	border-radius: 50%;
  }

  .social-icon-container {
	position: relative;  
	bottom: 0; 
	margin: auto; 
	margin-bottom: 90px !important;
  }

  .blog-card {
	display: flex;
	flex-direction: column;
	margin: 4rem auto;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
	margin-bottom: 1.6%;
	background: #fff;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
}
.blog-card a {
	color: inherit;
}
.blog-card a:hover {
	color: #5ad67d;
}
.blog-card:hover .photo {
	transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
	position: relative;
	z-index: 0;
	height: 200px;
}
.blog-card .photo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	transition: transform 0.2s;
}
.blog-card .details, .blog-card .details ul {
	margin: auto;
	padding: 0;
	list-style: none;
}
.blog-card .details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	margin: auto;
	transition: left 0.2s;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	padding: 10px;
	width: 100%;
	font-size: 0.9rem;
}
.blog-card .details a {
	text-decoration: dotted underline;
}
.blog-card .details ul li {
	display: inline-block;
}
.blog-card .details .author:before {
	font-family: FontAwesome;
	margin-right: 10px;
	content: "\f007";
}
.blog-card .details .date:before {
	font-family: FontAwesome;
	margin-right: 10px;
	content: "\f133";
}
.blog-card .details .tags ul:before {
	font-family: FontAwesome;
	content: "\f02b";
	margin-right: 10px;
}
.blog-card .details .tags li {
	margin-right: 2px;
}
.blog-card .details .tags li:first-child {
	margin-left: -4px;
}
.blog-card .description {
	padding: 1rem;
	background: #fff;
	position: relative;
	z-index: 1;
}
.blog-card .description h1, .blog-card .description h2 {
	font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
	line-height: 1;
	margin: 0;
	font-size: 1.7rem;
}
.blog-card .description h2 {
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	color: #a2a2a2;
	margin-top: 5px;
}
.blog-card .description .read-more {
	text-align: right;
}
.blog-card .description .read-more a {
	color: #5ad67d;
	display: inline-block;
	position: relative;
}
.blog-card .description .read-more a:after {
	content: "\f061";
	font-family: FontAwesome;
	margin-left: -10px;
	opacity: 0;
	vertical-align: middle;
	transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
	margin-left: 5px;
	opacity: 1;
}
.blog-card p {
	position: relative;
	margin: 1rem 0 0;
}
.blog-card p:first-of-type {
	margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
	content: "";
	position: absolute;
	height: 5px;
	background: #5ad67d;
	width: 35px;
	top: -0.75rem;
	border-radius: 3px;
}
.blog-card:hover .details {
	left: 0%;
}
@media (min-width: 640px) {
	.blog-card {
		flex-direction: row;
		max-width: 700px;
   }
	.blog-card .meta {
		flex-basis: 40%;
		height: auto;
   }
	.blog-card .description {
		flex-basis: 60%;
   }
	.blog-card .description:before {
		transform: skewX(-3deg);
		content: "";
		background: #fff;
		width: 30px;
		position: absolute;
		left: -10px;
		top: 0;
		bottom: 0;
		z-index: -1;
   }
	.blog-card.alt {
		flex-direction: row-reverse;
   }
	.blog-card.alt .description:before {
		left: inherit;
		right: -10px;
		transform: skew(3deg);
   }
	.blog-card.alt .details {
		padding-left: 25px;
   }
}


.card {
	background-color:#eee;
	box-sizing:border-box;
	float:left;
	height:10em;
	margin:.5em;
	padding:1em;
	position:relative;
	width:20em;
	border-radius: 10px;
  }

  .progress-bar-section {
	  position: relative; 
	  margin: auto; 
	  display: flex; 
	  flex-direction: column;
	  
  }

  ul {
	display: inline-grid;
	grid-auto-flow: row;
	grid-gap: 24px;
	justify-items: center;
	margin: auto;
  }
  
  @media (min-width: 500px) {
	ul {
	  grid-auto-flow: column;
	}
  }
  
  a {
	color: white;
	text-decoration: none;
	box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  }
  
  a:hover {
	box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
  }
  
  li:last-child {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
  }
  
  li:hover ~ li p {
	animation: wave-animation 0.3s infinite;
  }
  
  
  .footer {
	display: flex;
	height: 20vh;
	width: 100%;
	line-height: 1.3;
	font-family: sans-serif;
  }
  
  @keyframes wave-animation {
	0%,
	100% {
	  transform: rotate(0deg);
	}
	25% {
	  transform: rotate(20deg);
	}
	75% {
	  transform: rotate(-15deg);
	}
  }
  
  h1 {
	font-size: 50px;
	word-break: break-all
	margin-bottom: 50px;
  }
.description {
	position: relative;

}

.description h1 {
	margin-bottom: 25px !important;

}
#main-title {
	margin-bottom: 40px;
	font-size: 50px;

}

  
 